/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/
@import '/node_modules/primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

.btn-cs-light {
    width: 75px;
    height: 30px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    border: 1px solid #353535;
}

.btn-cs-dark {
    width: 75px;
    height: 30px;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    box-shadow: none;
}

.btn-cs-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    box-shadow: #0c0c0d;
}

.invalid-feedback {
    display: block;
}