:root {
    --neg-font-default: #353535;
    --neg-grey:rgba(53, 53, 53, .25);
    --neg-light-grey:rgba(53, 53, 53, .75);

    --neg-bg-light: #efefef;
    --neg-bg-light-rgb: 239, 239, 239;

    --neg-dark-grey:#495057;

    --neg-primary-1: #F9F871; /* yellow 1 */
    --neg-primary-2: #FFE171; /* yellow 2 */
    --neg-primary-3: #FFCA80; /* yellow 3 */
    --neg-dark-1: #051e24; /* rich black */
    --neg-dark-2: #002b33; /* gun metal 1 */
    --neg-dark-3: #08313a; /* gun metal 2 */
    --neg-light-1: #325660; /* dark slate grey */
    --neg-light-2: #c4d7e2; /* columbia blue 1 */
    --neg-light-3: #c4d7e2; /* columbia blue 1 */
    --neg-light-4: #d0dfe8; /* columbia blue 2 */
    --neg-light-5: #f0f5f8; /* anti-flash white */
    --neg-light-6: #ffffff; /* white */
    --neg-green-1: #418b5c; /* sea green */
    --neg-green-2: #54ae75; /* jade */
    --neg-green-3: #74be8f; /* mint */
    --neg-orange-1: #ffa033; /* orange peel */
    --neg-orange-2: #ffb157; /* sandy brown */
    --neg-orange-3: #ffc685; /* sunset */
    --neg-red-1: #f14141; /* imperial red */
    --neg-red-2: #f25757; /* bittersweet */
    --neg-red-3: #f57a7a; /* light coral */
    --neg-blue-1: #4dbbd1; /* moonstone */
    --neg-blue-2: #78cbdc; /* sky blue */
    --neg-blue-3: #9edae6; /* non-photo blue */
    --neg-brown-1: #ada185; /* khaki */
    --neg-brown-2: #d6d0c2; /* bone */
    --neg-brown-3: #e7e3da; /* alabaster */
}

::-webkit-scrollbar {
    width: 10px;
  }
    ::-webkit-scrollbar-track {
    background: var(--neg-bg-light); 
  }
    ::-webkit-scrollbar-thumb {
    background: var(--neg-light-grey); 
      border-radius:10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    
    background: var(--neg-dark-grey); 
  } 

  .height-overflow{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .recent-processes.d-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Optional: Adds space between items */
  }
  
  .recent-processes .flex-item {
    flex: 1 1 calc(50% - 1rem); /* Each item takes up roughly 50% of the container width minus space for the gap */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
  }

  /* Special case for the third item */
.recent-processes .half-width {
    flex: 1 1 50%; /* Ensures the third item takes exactly 50% of the width */
  }

.border-neutral-700{
    border-color: var(--neg-grey) !important;
}

.bg-zinc-100{
    background-color: var(--neg-bg-light) !important;
}

.text-neutral-700{
    color: var(--neg-font-default);
}

.text-neutral-600{
    color: var(--neg-light-grey);
}

.text-white{
    opacity:1;
    color: #FFFFFF !important;
}

/* Success */
.text-green-1{
    opacity:1;
    color: var(--neg-green-1);
}
.text-green-2{
    opacity:1;
    color: var(--neg-green-2);
}
.text-green-3{
    opacity:1;
    color: var(--neg-green-3);
}

/* Warning */
.text-orange-1{
    opacity:1;
    color: var(--neg-orange-1);
}
.text-orange-2{
    opacity:1;
    color: var(--neg-orange-2);
}
.text-orange-3{
    opacity:1;
    color: var(--neg-orange-3);
}

/* Danger */
.text-red-1{
    opacity:1;
    color: var(--neg-green-1);
}
.text-red-2{
    opacity:1;
    color: var(--neg-red-2);
}
.text-red-3{
    opacity:1;
    color: var(--neg-red-3);
}


/* Info */
.text-blue-1{
    opacity:1;
    color: var(--neg-blue-1);
}
.text-blue-2{
    opacity:1;
    color: var(--neg-blue-2);
}
.text-blue-3{
    opacity:1;
    color: var(--neg-blue-3);
}


.text-light-grey{
    opacity: 1;
    color: var(--neg-light-grey);
}

.text-dark-grey{
    opacity: 1;
    color: var(--neg-dark-grey);
}

.rounded-custom-25{
    border-radius: 25px;
}

.btn-group label.btn-outline-secondary{
    font-weight: 400;
    color: var(--neg-font-default);
    border-color: var(--neg-light-grey);
}

.btn-group label.btn-outline-secondary:not(:disabled):not(.disabled).active,.btn-group label.btn-outline-secondary:hover{
    background-color: var(--neg-bg-light);
    border-color: var(--neg-bg-light);
    color: var(--neg-font-default);
}

.isSelected{
    background-color: #FFB157 !important;
    border-color: #FFB157 !important;
    color:#FFFFFF !important;
}

.profile-header{
    background-color: var(--neg-bg-light);
}

.last{
    width: 1%;
    white-space: nowrap;
    border-left: 2px solid var(--neg-bg-light);
}

.fit-hw{
    height: fit-content;
    width: fit-content;
}

.table-row-spacing{
    border-collapse:separate;
    border-spacing:0 5px;
}

th{
    color: var(--neg-font-default); 
    font-size: 12px; 
    font-family: Roboto; 
    font-weight: 500; 
    line-height: 12px; 
    word-wrap: break-word
}

.table-bg td{
    color: var(--neg-font-default); 
    font-size: 14px; 
    font-family: Roboto; 
    font-weight: 400; 
    line-height: 20px; 
    word-wrap: break-word;
    background-color: rgba(var(--neg-bg-light-rgb) , 0.25);
}

.p-toast .p-toast-message.p-toast-message-error{
    color: var(--neg-font-default) !important;
    background: rgba(230, 137, 146, 0.50) !important;
}

.p-toast .p-toast-message .p-toast-message-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.p-dialog:not(.p-confirm-dialog) .p-dialog-header {
    border-bottom: 2px solid var(--neg-grey) !important;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0px !important;
}

.p-dialog:not(.p-confirm-dialog) .p-dialog-header-icons {
    display: flex;
    position: relative;
    top: -1.5rem;
    background: #F2F6F7;
    border-radius: 4px;
}

.p-dialog:not(.p-confirm-dialog) .p-dialog-content {
    background: #ffffff;
    color: #334155;
    padding: 0 1.5rem 0 1.5rem !important;
    height: 63vh;
}

.p-dialog:not(.p-confirm-dialog) .p-dialog-footer {
    border-top:  2px solid var(--neg-grey) !important;
    padding: 0px !important;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
}

.p-confirm-dialog .p-dialog-content {
    background: #ffffff;
    color: #334155;
    padding: 1.5rem !important;
}

.p-confirm-dialog .p-dialog-header-icons {
    display: none;
}

.p-component {
    font-family: unset;
    font-feature-settings: unset;
    font-size: unset;
    font-weight:unset;
}